# App
APP_NAME=TaskPilot
ENVIRONMENT=development
DEBUG=false

# Default Database
DEFAULT_DB_HOST=localhost
DEFAULT_DB_PORT=3306
DEFAULT_DB_USER=root
DEFAULT_DB_PASSWORD=
DEFAULT_DB_DB=taskpilot

# Task System
TASK_TABLE=task_manager

# Log
LOG_LEVEL=INFO
LOG_QUEUE_SIZE=10000

# Alert
ALERT_QUEUE_SIZE=1000
