.react-resizable {
  position: relative;
}

.react-resizable-handle {
  position: absolute;
  top: 0;
  right: -4px;
  width: 10px;
  height: 100%;
  cursor: col-resize;
  z-index: 1;
  background-clip: content-box;
}
